img{
	padding-bottom: 1em;
}

.header{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.header-boxs{
	color: #fff;
	font-size: 1.6rem;
	text-shadow: 0 1px 0 rgba(0,0,0,.4);
	text-transform: uppercase;
	margin-bottom: 2rem;
}
.header-boxs a{
	color: #fff;
	width: 100%;
	height: 100%;
	display: block;
}
.header-boxs li{
	padding: 0;
	margin: 0;
	height: 15rem;
	line-height: 14rem;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
.logo img{
	max-height: 100%;
}

.aside_img{
	width: 90%;
	margin: 1em 0;
}

.vdg-red{
	background:#f92d40;
}
.vdg-red:hover{
	background:#29cb71;
}
.vdg-orange{
	background:#f67400;
}
.vdg-orange:hover{
	background:#1cdc9a;
}
.vdg-yellow{
	background:#c9ce3b;
}
.vdg-yellow:hover{
	background:#3daee9;
}
.vdg-teal{
	background:#1cdc9a;
}
.vdg-teal:hover{
	background:#f67400;
}
.vdg-green{
	background:#29cb71;
}
.vdg-green:hover{
	background:#f92d40;
}
.vdg-darkgrey{
	background:#232629;
}
.vdg-darkgrey:hover{
	background:#fcfcfc;
}
.vdg-midgrey{
	background:#31363b;
}
.vdg-midgrey:hover{
	background:#eff0f1;
}
.vdg-blue{
	background:#3daee9;
}
.vdg-blue:hover{
	background:#c9ce3b;
}
.vdg-lightgrey{
	color: #232629;
	background: #eff0f1;
}
.vdg-lightgrey a{
	color: #232629;
}
.vdg-lightgrey:hover{
	color: #eff0f1;
	background: #31363b;
}
.vdg-lightgrey a:hover{
	color: #eff0f1;
}
.vdg-lightestgrey{
	color: #232629;
	background:#fcfcfc;
}
.vdg-lightestgrey a{
	color: #232629;
}
.vdg-lightestgrey:hover{
	color: #eff0f1;
	background:#232629;
}
.vdg-lightestgrey a:hover{
	color: #eff0f1;
}

.gallery-row{
	padding: 0.9375rem 0;
}

/* Footer */

.footer{
	padding: 1em 0 2em 0;
	border-top: 1px solid #eee;
	margin-top: 2em;
}

/* Small screens */
@media only screen {

} /* Define mobile styles */

@media only screen and (max-width: 40em) {
	.header-boxs li{
		padding: 0;
		height: 3rem;
		line-height: 2rem;
	}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens*/
@media only screen and (min-width: 40.063em) {

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.header-boxs li{
		padding: 0;
		height: 8rem;
		line-height: 7rem;
		-webkit-transition: background 0.3s ease;
		-moz-transition: background 0.3s ease;
		-ms-transition: background 0.3s ease;
		-o-transition: background 0.3s ease;
		transition: background 0.3s ease;
	}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */